* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
	font-size: 16px;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	text-align: center;
	padding:0;
	margin:0;
	background: white; /* For browsers that do not support gradients */
}

.header, .footer , .content{
	max-width: 60%;
	width: 50%;
	margin: 0 auto;
}
.header{
	height: 200px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.divider{
	background: #333333;
	width: 100%;
	height: 30px;
}

.content{
	padding-top:10px;
	padding-bottom: 10px;
}

.footer {
	position: fixed;
	bottom: 20px;
	/*left: 0;*/
	height: 50px;
	text-align: center;
	color: white;
	font-size: 14px;
	background: #5a0c5a;
}

.header img {
	float: left;
}